@media (prefers-color-scheme: dark)

  body.active_admin .trumbowyg-box
    border-color: $input-border-color

    // Полноэкранный режим. Перекрываем белый фон #fefefe из trumbowyg.css
    &.trumbowyg-fullscreen
      background-color: $body-bg-color

      >.trumbowyg-editor-box
        background-color: transparent

      .trumbowyg-button-pane
        border-bottom: 1px solid $tab-border-color

      // Иконка кнопки fullscreen
      .trumbowyg-button-group .trumbowyg-fullscreen-button svg
        color: $body-text-color
        fill: transparent

    // Область редактирования (visual). Перекрываем белый фон из activeadmin_trumbowyg
    >.trumbowyg-editor-box
      background-color: $input-bg-color

    .trumbowyg-editor
      color: $body-text-color

      a
        color: $link-color-1

    // Режим просмотра HTML
    .trumbowyg-textarea
      background-color: $input-bg-color
      color: $input-text-color

    // Иконки тулбара
    svg
      fill: $body-text-color
      color: $body-text-color

    // Панель кнопок
    .trumbowyg-button-pane
      // Убираем разделительные линии между рядами кнопок (светлые из trumbowyg.css)
      &::before,
      &::after
        background-color: transparent

      .trumbowyg-button-group:not(:empty)::after
        background-color: $tab-border-color

      button
        color: $body-text-color

      button:not(.trumbowyg-disable):hover,
      button:not(.trumbowyg-disable):focus,
      button.trumbowyg-active
        background-color: hsla(0, 0%, 100%, 0.1)

    .trumbowyg-open-dropdown::after
      border-top-color: $body-text-color

  // Выпадающие меню (форматирование, ссылки)
  body.active_admin .trumbowyg-dropdown
    background-color: $btn-dark-1-bg
    border-color: $input-border-color
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px

    button
      background-color: $btn-dark-1-bg
      color: $body-text-color

      &:hover,
      &:focus
        background-color: hsla(0, 0%, 100%, 0.1)

  // Модальные окна (вставка ссылки/картинки)
  body.active_admin .trumbowyg-modal-box
    background-color: $body-bg-color
    color: $body-text-color

    .trumbowyg-modal-title
      background-color: $btn-dark-1-bg
      color: $body-text-color
      border-bottom-color: $input-border-color

    .trumbowyg-input-infos
      background-color: $btn-dark-1-bg
      border-right-color: $input-border-color

      label
        color: $body-text-color

    input,
    select,
    textarea
      background-color: $input-bg-color
      color: $input-text-color
      border-color: $input-border-color

    .trumbowyg-modal-button.trumbowyg-modal-reset
      background-color: $btn-dark-1-bg
      color: $body-text-color
